@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #1E40AF;
    --off-white: #E5E7EB;
    --dark-grey: #6B7280;
    --android: #5eb700;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

/* body{
    font-family: 'Crimson Text', serif;
    margin: 0px;
} */
hr {
    margin: rem 1rem 1rem, 1rem;

}

/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    
    }

.container-center {
    max-width: 650px;
    margin: auto;
    

}

.link {
    padding: 0.5rem 1rem;
    text-decoration: none;

}

.link-primary {
    color: white;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    margin-top: 5rem;
}

.link-secondary {
    color: var(--primary-color);
    margin-left: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-radius: 0rem 0rem 0rem 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .link {
    color: white;
    text-align: right;
}
.navigation .link-active {
    font-weight: bold;
    
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    margin: auto;
    display: block;


}

.hero .hero-header {
    margin: auto;
    text-align: center;
    max-width: 450px;
    display: block;
    padding-top: 2rem;
    font-size: xx-large;
    font-weight: bold;
    color: var(--dark-grey);


}

.hero .hero-header .inverted {

    color: var(--primary-color);
}

/* section  */


.section h1 {
    padding: 2rem;
    text-align: center;
    margin: auto;


}

.ow {
    background-color: var(--off-white);
    padding-bottom: 2rem;
}

/* footer section */
.footer {
    background-color: var(--primary-color);
    border-radius: 0rem 1rem 0rem 0rem;
    text-align: center;
    color: white;
    padding: 2rem;
    margin-top: 3rem;
}

.footer .link {
    color: white;
    font-weight: bold;
}

.footer .footer-header {
    font-weight: bold;

}


.footer ul {
    padding-inline-start: 0rem;
}

/* My additional edit */

.para-about {
    text-align: justify;
    margin: 1rem 3rem;
    padding: 2rem;
    background-color: var(--dark-grey);
    color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    word-spacing: 0.5rem;
}

.profile {
    text-align: center;
    margin-top: 3rem;
}

.footer .list-non-bullet {
    margin-top: 3rem;
}
.both-button{
    margin-top: 2rem;

}
.codehoilc{
    color: black;
    font-weight: bolder;
    
    padding-left: 0.5rem;
    
    border-radius: 1rem;
    
}
.color-section{
    background-color: #E5E7EB;
    padding-bottom: 2rem;
    margin: 1rem;
    
}
.footer-social { float: center; margin-top:30px;}
.footer-social li { display: inline; margin: 0.5rem;}
.footer-social span { margin-top: -20px;}

.btn{
    margin-top: 2rem;
}
.call{
    text-decoration: none;
    color: blue;
    font-size: medium;
    
}
.call-btn{
background-color: white;
border-radius: 1rem 1rem 1rem 1rem;
margin-top: 1rem;
display: inline-block;
padding: 0.5rem;
font-weight: bold;

}
.back-link{
    text-decoration: none;
    margin-left: 1rem;
    
}
.back-text{
     color: black;
     font-size: large;
     font-weight: bold;
    margin-left: 0.19rem; 
    
    
}
